In [58]:
import pandas as pd
import json

In [45]:
df_pop = pd.read_excel("../C5000123.xlsx", usecols="B:C", skiprows=[0,1,2,3,4,5,6,7,9], nrows=22)
df_pop

           Ciudad de Madrid  3339931
0                01. Centro   139687
1            02. Arganzuela   153304
2                03. Retiro   117918
3             04. Salamanca   145702
4             05. Chamartín   144796
5                06. Tetuán   160002
6              07. Chamberí   138204
7   08. Fuencarral-El Pardo   248443
8       09. Moncloa-Aravaca   121757
9                10. Latina   241672
10          11. Carabanchel   262339
11                12. Usera   142746
12   13. Puente de Vallecas   241603
13            14. Moratalaz    92814
14        15. Ciudad Lineal   220345
15            16. Hortaleza   198391
16           17. Villaverde   159038
17    18. Villa de Vallecas   117501
18            19. Vicálvaro    83804
19  20. San Blas-Canillejas   161219
20              21. Barajas    48646

In [46]:
df_pop.columns = ["distrito", "poblacion"]

In [49]:
df_pop["distrito"].str.split(".").str[1].str.strip()[0]

'Centro'

In [50]:
df_pop["distrito"] =df_pop["distrito"].str.split(".").str[1].str.strip()

In [52]:
dict_pop = dict(zip(df_pop["distrito"], df_pop["poblacion"]))

In [57]:

[ pop/sum(dict_pop.values()) for pop in dict_pop.values()]

[0.04182331910449647,
 0.045900349438356663,
 0.03530551978469016,
 0.04362425451304233,
 0.04335299142407433,
 0.04790578008946891,
 0.04137929795555657,
 0.07438566844644395,
 0.03645494472790007,
 0.07235838105637511,
 0.07854623344015191,
 0.0427392062889922,
 0.0723377219469504,
 0.027789196842689264,
 0.06597291979984017,
 0.05939973011418499,
 0.04761715137228883,
 0.03518066690599297,
 0.025091536322157555,
 0.04827015887453962,
 0.014564971551807507]

In [60]:
with open("static_data.json", "r") as file:
    static_data =json.load(file)
static_madird = static_data["Madrid"]

In [62]:
static_madird["population"]

{'Centro': 139687,
 'Arganzuela': 153304,
 'Retiro': 117918,
 'Salamanca': 145702,
 'Chamartín': 144796,
 'Tetuán': 160002,
 'Chamberí': 138204,
 'Fuencarral-El Pardo': 248443,
 'Moncloa-Aravaca': 121757,
 'Latina': 241672,
 'Carabanchel': 262339,
 'Usera': 142746,
 'Puente de Vallecas': 241603,
 'Moratalaz': 92814,
 'Ciudad Lineal': 220345,
 'Hortaleza': 198391,
 'Villaverde': 159038,
 'Villa de Vallecas': 117501,
 'Vicálvaro': 83804,
 'San Blas-Canillejas': 161219,
 'Barajas': 48646}

In [64]:
{key:value/sum(static_madird["population"].values()) for key, value in static_madird["population"].items()}

{'Centro': 0.04182331910449647,
 'Arganzuela': 0.045900349438356663,
 'Retiro': 0.03530551978469016,
 'Salamanca': 0.04362425451304233,
 'Chamartín': 0.04335299142407433,
 'Tetuán': 0.04790578008946891,
 'Chamberí': 0.04137929795555657,
 'Fuencarral-El Pardo': 0.07438566844644395,
 'Moncloa-Aravaca': 0.03645494472790007,
 'Latina': 0.07235838105637511,
 'Carabanchel': 0.07854623344015191,
 'Usera': 0.0427392062889922,
 'Puente de Vallecas': 0.0723377219469504,
 'Moratalaz': 0.027789196842689264,
 'Ciudad Lineal': 0.06597291979984017,
 'Hortaleza': 0.05939973011418499,
 'Villaverde': 0.04761715137228883,
 'Villa de Vallecas': 0.03518066690599297,
 'Vicálvaro': 0.025091536322157555,
 'San Blas-Canillejas': 0.04827015887453962,
 'Barajas': 0.014564971551807507}